@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


/**
 * Variables
 */
$code-color: $pre-color;
$headings-padding-top: $spacer * 2;
$headings-margin-bottom: $headings-padding-top;


@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";


/**
 * Type
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	// Add padding-top to headings.
	padding-top: $headings-padding-top;
}

header > h1 {
	// Remove padding from <h1> in <header>.
	padding: 0;
	margin-bottom: $spacer / 2;
}


@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/utilities";


/**
 * Layout / Style
 */

// Make the <header> use 100% of the viewport's height and center the text.
article > header {
	height: 100vh;
	text-align: center;
	padding-top: calc(50vh - 55px);
}

// Add border and spacing to <section> elements.
article > section {
	border-top: $border-width solid $border-color;

	&:not(:last-child) {
		padding-bottom: $spacer * 6;
	}
}


/**
 * Navigation
 */
.side-nav-btn {
	right: $spacer;
	position: fixed;
	top: map_get($spacers, 4);
}
/**
 * The .side-nav is on top of the page content and uses 100% of the viewport but mouse events are
 * disabled. Mouse events are enabled when the <nav> is displayed (slided in from the right).
 */
.side-nav {
	top: 0;
	right: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	// Disable mouse events.
	pointer-events: none;

	&, &::before, nav {
		position: fixed;
	}

	/**
	 * This is a transparent (opacity: 0) overlay that sits on top of the page content but behind
	 * the <nav> container. When <nav> is slided in from the right, the opacity of this overlay is
	 * set to 1 (the background color still has an opacity of .6).
	 */
	&::before {
		opacity: 0;
		width: 100%;
		height: 100%;
		content: " ";
		will-change: opacity;
		background-color: rgba(0, 0, 0, .6);
		@include transition(opacity 0.3s cubic-bezier(0, 0, 0.3, 1));
	}

	/**
	 * This is the actual element that slides in from the right. Its position is
	 * transformed/translated to the right (outside the viewport) by 102% of its width.
	 */
	nav {
		top: 0;
		right: 0;
		width: 300px;
		height: 100%;
		overflow: auto;
		will-change: transform;
		transform: translateX(102%);
		@include transition(transform 0.2s cubic-bezier(0, 0, 0.3, 1));
	}

	ul {
		// Remove style from lists.
		@include list-unstyled;

		// Add padding and a hover effect to the links.
		li a {
			display: block;
			color: rgba($white, .7);
			padding-left: $spacer;
			padding-top: map_get($spacers, 2);
			padding-bottom: map_get($spacers, 2);
			border-left: map_get($spacers, 1) solid transparent;

			&:hover {
				color: $white;
				border-left-color: $white;
			}
		}

		// Increase padding-left of links in nested lists.
		li ul a {
			padding-left: $spacer * 2;
		}
	}

	// The class "visible" is added to "side-nav" to slide in the <nav> element.
	&.visible {
		// Enable mouse events.
		pointer-events: auto;

		// Make the overlay visible by setting its opacity to 1.
		&::before {
			opacity: 1;
		}

		// Removing the transform causes the <nav> to slide in from the right.
		nav {
			transform: none;
		}
	}
}
